.navbar-container{
    box-shadow: 0 2px 6px #887BDE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    width: 100%;
}

.navbar-container .logo-container{
    width: 50px;
    margin: 0;
}

.navbar-container .links-list{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}
.navbar-container .links-list>li{
    margin: 0 1rem;
}